apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ghost-helm-test2
  namespace: argocd
spec:
  project: ghost2
  source:
    chart: ghost
    repoURL: https://github.com/k8s-at-home/charts.git
    path: charts/stable/ghost
    targetRevision: 2.1.2
    helm:
      releaseName: ghost
  destination:
    server: "https://kubernetes.default.svc"
    namespace: ghost2
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true